.searchView .container, .searchView--error {
    display: flex;
    align-items: center;
}


.searchView .container {
    justify-content: space-around;
    flex-wrap: wrap;
}

.searchView .container > .featured__hero {
    margin-bottom: 5%;
}

.searchView--error {
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}

.searchView--error h1 {
    text-align: center;
}

.searchView--error img {
    height: 50%;
}
