.featured__hero {
  position: relative;
  width: 100%;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 3px 7px rgba(0,0,0,0.25);
  transition: transform 0.5s ease-in-out;
}

@media (min-width: 768px) {
  .featured__hero {
    width: 47%;
  }
}

@media (min-width: 1024px) {
  .featured__hero {
    width: 32%;
  }

  .featured__hero:hover {
    transform: scale(1.1);
  }

  .featured__hero:after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  }

  .featured__hero:hover::after {
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  .featured__hero {
    width: 31%;
    cursor: pointer;
  }
}
  
.featured__hero h2 {
  margin: 10px 0;
  text-align: center;
}

.featured__hero__img {
  position: relative;
  display: block;
  width: 95%;
  height: 377px;
  border-radius: 20px;
  margin: 0 auto;
  object-fit: cover;
}

.featured__hero__stats {
  display: flex;
  justify-content: space-around;
  padding: 15px 0 15px 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  text-align: center;
}

.featured__hero__stats__icon {
  width: 25px;
  margin-bottom: 10px;
}
  