.hero__section {
  background-color: black;
}

.hero__section .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hero__image {
  background-color: white;
  border-radius: 22px;
  padding: 3%;
}

.hero__image {
  font-size: 28px;
}

.hero__image img {
  margin-top: 5%;
}

.hero__details {
  background-color: black;
  color: white;
  padding: 5%;
}

.hero__details h1 {
  margin-bottom: 3%;
}

.hero__details--wrapper {
  display: flex;
  justify-content: space-between;
}

.first__column, .second__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4%;
}

.hero__details li {
  margin: 10px 0;
}

.hero__details h2 {
  margin-top: 5%;
  font-size: 24px;
}

.hero__details--error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

.hero__details--error img {
  height: 100%;
}

footer {
  display: none;
}
