.nav {
  height: 80px;
  background-color: black;
  color: white;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav a {
  color: white;
  font-size: 130%;
  font-weight: 500;
  text-decoration: none;
}

.nav__logo {
  width: 140px;
}

.nav__search {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.nav__search input {
  height: 30px;
  border: none;
  border-radius: 8px;
  background-image: url(../../assets/icons/magnifer.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 16%;
}

.nav__search button {
  height: 30px;
  padding: 5px;
  border-radius: 8px;
  color: #F57211;
  font-size: 15px;
}

.nav__search button {
  height: 30px;
  padding: 3px 5px;
}

.nav__search input {
  height: 30px;
  padding: 3px 25px 3px 5px;
}
